body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3e8ff; /* Fondo Morado/Lavanda Pastel muy claro */
    color: #2e1065;
}

#contenedor {
    width: 100%;
}

header {
    background-color: #f3e8ff; 
    text-align: left;
    padding: 15px 20px;
    border-bottom: 3px solid #f472b6; /* Línea Rosa Pastel */
}

header h1 {
    margin: 5px 0;
    font-size: 26px;
    color: #db2777; /* Rosa acentuado */
}

header h2 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: normal;
    color: #6b21a8; 
}

.tarjetas {
    display: flex;
    background-color: #e0f2fe; /* Fondo Azul Pastel Claro */
    padding: 15px;
    justify-content: space-between;
    gap: 15px;
    border-top: 4px solid #f472b6; 
    border-bottom: 4px solid #f472b6;
}

.fichas {
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.fichas img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

footer {
    background-color: #f3e8ff; 
    padding: 20px;
}

footer h3 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 15px;
    color: #db2777; 
}

footer label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
    color: #2563eb; /* Azul */
}

footer input {
    padding: 6px;
    border: 2px solid #c084fc; 
    border-radius: 4px;
    margin-right: 20px;
    background-color: white;
    color: black;
}

#nombre { width: 320px; }
#edad { width: 80px; }
#correo { width: 320px; }

footer button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #f472b6; /* Botón Rosa Pastel */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

footer button:hover {
    background-color: #ec4899;
}