body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3e8ff;
}

#contenedor-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dash-header {
    background-color: #f3e8ff; 
    color: #2e1065;
    padding: 20px;
    text-align: center;
    position: relative;
    border-bottom: 4px solid #f472b6; 
}

.bienvenida h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #db2777; 
}

.bienvenida h2 {
    margin: 5px 0 0 0;
    font-size: 24px;
    font-weight: normal;
    color: #2563eb; 
}

.dash-nav {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 14px;
}

.dash-nav a {
    color: #2563eb;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

.dash-nav a:hover {
    text-decoration: underline;
}

.contenido-principal {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 120px);
}

.seccion-artistas {
    flex: 3.5;
    background-color: #e0f2fe; /* Fondo Azul Pastel Claro */
    padding: 25px;
    display: flex;
    gap: 20px;
}

.tarjeta-artista {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border-top: 5px solid #f472b6; 
}

.tarjeta-artista img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 4px;
}

.tarjeta-artista h3 {
    margin: 5px 0 10px 0;
    color: #2e1065;
    font-size: 18px;
}

.tarjeta-artista p {
    font-size: 13px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
    flex-grow: 1;
    color: #4b5563;
}

.tarjeta-artista button {
    padding: 8px 14px;
    background-color: #c084fc; /* Botón Morado Pastel */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.tarjeta-artista button:hover {
    background-color: #a855f7;
}

.barra-lateral {
    flex: 1;
    background-color: #fce7f3; /* Barra Derecha Rosa Pastel Claro */
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarjeta-lateral {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    color: black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.03);
    border-left: 4px solid #c084fc; 
}

.tarjeta-lateral h3 {
    margin-top: 0;
    font-size: 16px;
    color: #db2777;
}

.tarjeta-lateral p {
    font-size: 13px;
    line-height: 1.4;
    color: #4b5563;
}

@media (max-width: 768px) {
    .contenido-principal { flex-direction: column; }
    .seccion-artistas { flex-direction: column; }
    .dash-nav { position: static; margin-top: 15px; }
}